body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  max-width: 100%;
  background: #C4BEB3;
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 640px) {
  .App {
    font-size: 20px;
  }
}
@media (min-width: 641px) {
  .App {
    font-size: 22px;
  }
}
@media (min-width: 1008px) {
  .App {
    font-size: 22px;
  }
}
@media (min-width: 1512px) {
  .App {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .navbar__container {
    height: calc(16px*2 + 46px);
    width: auto;
    overflow: hidden;
    background: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: height 0.2s ease-out;
  }
  .navbar__container_open_true {
    width: 100%;
    background: #F3F3F3;
  }
  .navbar__container_open_true .navbar__link {
    display: block;
  }
  .navbar__switcher {
    margin: 16px 16px 16px auto;
  }
  .navbar__switcher:hover {
    cursor: pointer;
  }
  .navbar__link {
    padding: calc(16px + 10px) 28px;
    box-sizing: border-box;
    display: none;
  }
  .navbar__link:hover {
    cursor: pointer;
  }
  .navbar__link:hover,
  .navbar__link:active {
    font-weight: 700;
  }
}
@media (min-width: 641px) {
  .navbar__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar__switcher {
    display: none;
  }
  .navbar__link {
    color: #F3F3F3;
  }
  .navbar__link:hover {
    cursor: pointer;
  }
  .navbar__link_active_true {
    font-weight: 700;
  }
}
@media (min-width: 1008px) {
  .navbar__container {
    height: 130px;
    justify-content: flex-end;
    gap: 70px;
  }
  .navbar__link:last-of-type {
    margin-right: 70px;
  }
}
@media (min-width: 1512px) {
  .navbar__container {
    height: 140px;
    gap: 80px;
  }
  .navbar__link:last-of-type {
    margin-right: 80px;
  }
}
.slider__container {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-gap: 20px;
}
@media (max-width: 640px) {
  .slider__container {
    max-width: 100%;
  }
}
@media (min-width: 641px) {
  .slider__container {
    max-width: 480px;
  }
}
.slider__block {
  display: none;
}
.slider__block_shown_true {
  display: grid;
}
.slider__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .slider__list {
    height: 50px;
  }
}
@media (min-width: 641px) {
  .slider__list {
    height: 80px;
  }
}
.slider__icon {
  border-radius: 10px;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 243, 243, 0.5);
  backdrop-filter: blur(5px);
}
.slider__icon:hover {
  cursor: pointer;
}
@media (max-width: 640px) {
  .slider__icon {
    height: 50px;
    width: 50px;
  }
  .slider__icon img {
    height: calc(50px - 8px*2);
    width: calc(50px - 8px*2);
  }
}
@media (min-width: 641px) {
  .slider__icon {
    height: 80px;
    width: 80px;
  }
  .slider__icon img {
    height: calc(80px - 15px*2);
    width: calc(80px - 15px*2);
  }
}
.slider__icon_active_true {
  background: rgba(243, 243, 243, 0.9);
  transition: all 0.2s ease-out;
}
.slider__title {
  margin: 0 0 20px;
  word-break: normal;
  overflow-wrap: anywhere;
  font-weight: 700;
}
@media (max-width: 640px) {
  .slider__title {
    font-size: 34px;
  }
}
@media (min-width: 641px) {
  .slider__title {
    font-size: 32px;
  }
}
@media (min-width: 1008px) {
  .slider__title {
    font-size: 34px;
  }
}
@media (min-width: 1512px) {
  .slider__title {
    font-size: 36px;
  }
}
.slider-transition-enter,
.slider-transition-exit-active {
  opacity: 0;
}
.slider-transition-enter-active,
.slider-transition-exit {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.button {
  box-sizing: content-box;
  border: 3px solid #010101;
  margin: -3px 0 0 -3px;
  background-image: linear-gradient(90deg, #010101 50%, transparent 50%);
  background-size: 200%;
  background-position: 100%;
  border-radius: calc(3000px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}
.button:hover {
  cursor: pointer;
}
@media (max-width: 640px) {
  .button {
    height: 56px;
    width: 258px;
    background: #010101;
    color: #C4BEB3;
  }
}
@media (min-width: 641px) and (max-width: 1007px) {
  .button {
    height: 56px;
    width: 280px;
    background: #010101;
    color: #C4BEB3;
  }
}
@media (min-width: 1008px) {
  .button {
    height: 58px;
    width: 258px;
    font-weight: 700;
  }
}
@media (min-width: 1512px) {
  .button {
    height: 60px;
    width: 280px;
  }
}
.button:hover {
  background-position: 0;
  color: #C4BEB3;
}
.card__container {
  max-height: 620px;
  background: #F3F3F3;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'card__photo' '.' 'card__title' '.' 'card__description' '.' 'card__bottom' '.';
  position: relative;
  border-radius: calc(60px / 2);
}
.card__container:hover {
  cursor: pointer;
}
@media (max-width: 640px) {
  .card__container {
    width: calc(100vw - 28px*2 - 17px);
  }
}
@media (min-width: 641px) {
  .card__container {
    width: 370px;
  }
}
@media (min-width: 1008px) {
  .card__container {
    width: 380px;
  }
}
@media (min-width: 1008px) {
  .card__container:hover .card__price {
    display: none;
  }
  .card__container:hover .card__button {
    display: flex;
  }
}
.card__photo {
  grid-area: card__photo;
  height: 250px;
}
@media (max-width: 640px) {
  .card__photo {
    width: calc(100vw - 28px*2 - 17px);
  }
}
@media (min-width: 641px) {
  .card__photo {
    width: 370px;
  }
}
@media (min-width: 1008px) {
  .card__photo {
    width: 380px;
  }
}
.card__photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.card__title {
  grid-area: card__title;
  font-weight: 700;
}
@media (max-width: 640px) {
  .card__title {
    font-size: 34px;
  }
}
@media (min-width: 641px) {
  .card__title {
    font-size: 32px;
  }
}
@media (min-width: 1008px) {
  .card__title {
    font-size: 34px;
  }
}
@media (min-width: 1512px) {
  .card__title {
    font-size: 36px;
  }
}
.card__description {
  grid-area: card__description;
  white-space: pre-wrap;
}
@media (max-width: 640px) {
  .card__description {
    margin: 0 36px 0;
  }
}
@media (min-width: 641px) {
  .card__description {
    margin: 0 36px 0;
  }
}
@media (min-width: 1008px) {
  .card__description {
    margin: 0 38px 0;
  }
}
.card__bottom {
  grid-area: card__bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__button {
  display: none;
}
.card__price {
  font-weight: 700;
}
@media (max-width: 640px) {
  .card__price {
    font-size: 34px;
  }
}
@media (min-width: 641px) {
  .card__price {
    font-size: 32px;
  }
}
@media (min-width: 1008px) {
  .card__price {
    font-size: 34px;
  }
}
@media (min-width: 1512px) {
  .card__price {
    font-size: 36px;
  }
}
.filter__container {
  width: auto;
  background: #705744;
  display: flex;
  flex-wrap: nowrap;
  border-radius: calc(3000px / 2);
}
.filter__container:hover {
  cursor: pointer;
}
@media (max-width: 640px) {
  .filter__container {
    height: 62px;
  }
}
@media (min-width: 641px) {
  .filter__container {
    height: 62px;
  }
}
@media (min-width: 1008px) {
  .filter__container {
    height: 64px;
  }
}
@media (min-width: 1512px) {
  .filter__container {
    height: 66px;
  }
}
.filter__option {
  margin: 3px 0 3px 3px;
  padding: 16px 42px;
  box-sizing: border-box;
  color: #C4BEB3;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__option:last-of-type {
  margin: 3px;
}
.filter__option_is-on_true {
  background: #C4BEB3;
  color: #705744;
}
.filter__option_is-on_true:first-of-type {
  border-radius: 60px 0 0 60px;
}
.filter__option_is-on_true:last-of-type {
  border-radius: 0 60px 60px 0;
}
.filter__option_is-on_true:only-of-type {
  border-radius: 60px;
}
.loader__container {
  height: 100vh;
  width: 100%;
  background: #C4BEB3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
.loader__icon_rotating {
  animation: rotation 0.9s infinite linear;
}
.page {
  max-width: 100%;
  display: grid;
  grid-template-areas: '. . . . .' '. . page__header . .' '. . page__body . .' '. . page__footer . .' '. . . . .';
}
@media (max-width: 640px) {
  .page {
    min-height: 800px;
    grid-template-columns: 0 28px minmax(0, 1fr) 28px 0;
    grid-template-rows: 110px max-content 1fr 20px 60px;
  }
}
@media (min-width: 641px) {
  .page {
    min-height: 880px;
    grid-template-columns: 1fr 38px 842px 38px 1fr;
    grid-template-rows: 120px max-content 1fr 20px 60px;
  }
}
@media (min-width: 1008px) {
  .page {
    min-height: 920px;
    grid-template-columns: 1fr 42px 1009px 42px 1fr;
    grid-template-rows: 130px max-content 1fr 20px 20px;
  }
}
@media (min-width: 1512px) {
  .page {
    min-height: 940px;
    grid-template-columns: 1fr 46px 1180px 46px 1fr;
    grid-template-rows: 140px max-content 1fr 20px 20px;
  }
}
.page__header {
  grid-area: page__header;
  display: flex;
}
@media (max-width: 640px) {
  .page__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px 0;
    margin: 0 0 46px;
  }
}
@media (min-width: 641px) {
  .page__header {
    margin: 10px 0 50px;
  }
}
@media (min-width: 1008px) {
  .page__header {
    margin: 16px 0 50px;
  }
}
@media (min-width: 1512px) {
  .page__header {
    margin: 20px 0 50px;
  }
}
.page__body {
  grid-area: page__body;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}
.page__footer {
  grid-area: page__footer;
}
.page__title {
  margin: 0 40px 0 0;
  white-space: pre-line;
  font-weight: 700;
}
@media (max-width: 640px) {
  .page__title {
    font-size: 48px;
  }
}
@media (min-width: 641px) {
  .page__title {
    font-size: 48px;
  }
}
@media (min-width: 1008px) {
  .page__title {
    font-size: 50px;
  }
}
@media (min-width: 1512px) {
  .page__title {
    font-size: 60px;
  }
}
.page__list {
  max-width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 20px;
}
.page__list_scrollable_true {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.page__list_scrollable_true::-webkit-scrollbar {
  display: none;
}
.page__form {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: 'form__field_1 form__field_1 form__field_1' 'form__field_2 form__field_2 form__field_2' '. . .' '. form__button .';
  box-sizing: border-box;
  position: relative;
  border-radius: calc(60px / 2);
  background: rgba(243, 243, 243, 0.5);
  backdrop-filter: blur(5px);
}
@media (max-width: 640px) {
  .page__form {
    height: max-content;
    width: minmax(0, 1fr);
    grid-template-rows: repeat(2, max-content) 20px max-content;
    padding: 36px;
  }
  .page__form .button {
    width: calc(56px + 40px);
  }
  .page__form .button img {
    height: 40px;
  }
}
@media (min-width: 641px) {
  .page__form {
    height: 420px;
    width: 530px;
    grid-template-rows: repeat(2, max-content) 1fr max-content;
    padding: 36px 32px;
  }
  .page__form .button {
    color: #C4BEB3;
  }
}
@media (min-width: 1008px) {
  .page__form {
    width: 640px;
    padding: 40px;
  }
  .page__form .button {
    color: #010101;
  }
  .page__form .button:hover {
    color: #C4BEB3;
  }
}
@media (min-width: 1512px) {
  .page__form {
    width: 680px;
  }
}
.page__form .form__button {
  grid-area: form__button;
}
.page__form label:first-of-type {
  grid-area: form__field_1;
}
.page__form label:last-of-type {
  grid-area: form__field_2;
}
.page__form label span {
  display: block;
  margin: 0 20px;
  color: #010101;
  font-weight: 700;
}
@media (max-width: 640px) {
  .page__form label span {
    font-size: 34px;
  }
}
@media (min-width: 641px) {
  .page__form label span {
    font-size: 32px;
  }
}
@media (min-width: 1008px) {
  .page__form label span {
    font-size: 34px;
  }
}
@media (min-width: 1512px) {
  .page__form label span {
    font-size: 36px;
  }
}
.page__form label input {
  height: 60px;
  width: 100%;
  background: #F3F3F3;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 16px 0;
  border-radius: calc(3000px / 2);
}
@media (max-width: 640px) {
  .page__form label input {
    font-size: 34px;
  }
}
@media (min-width: 641px) {
  .page__form label input {
    font-size: 32px;
  }
}
@media (min-width: 1008px) {
  .page__form label input {
    font-size: 34px;
  }
}
@media (min-width: 1512px) {
  .page__form label input {
    font-size: 36px;
  }
}
.page__form label input,
.page__form label input:focus {
  outline: none;
  border: none;
}
.page_with-bg-img {
  color: #F3F3F3;
  background: #7F6E58;
  background-size: cover;
  background-position: center;
}
.page_main {
  color: #010101;
}
@media (max-width: 640px) {
  .page_main {
    min-height: 880px;
  }
}
@media (min-width: 641px) {
  .page_main {
    min-height: 920px;
  }
}
@media (min-width: 1008px) {
  .page_main {
    min-height: 940px;
  }
}
@media (min-width: 1512px) {
  .page_main {
    min-height: 980px;
  }
}
.page_main .page__title {
  font-weight: 700;
  line-height: 107%;
}
@media (max-width: 640px) {
  .page_main .page__title {
    font-size: 58px;
  }
}
@media (min-width: 641px) {
  .page_main .page__title {
    font-size: 66px;
  }
}
@media (min-width: 1008px) {
  .page_main .page__title {
    font-size: 74px;
  }
}
@media (min-width: 1512px) {
  .page_main .page__title {
    font-size: 82px;
  }
}
.page_main .page__body {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
  grid-template-areas: 'page__message .' 'page__button-group .' '. .';
}
@media (max-width: 640px) {
  .page_main .page__body {
    grid-template-columns: minmax(0, 1fr) 0px;
    grid-gap: 46px 0;
  }
}
@media (min-width: 641px) {
  .page_main .page__body {
    grid-template-columns: minmax(0, 1fr) 1fr;
    grid-gap: 60px 0;
  }
}
@media (min-width: 1008px) {
  .page_main .page__body {
    grid-template-columns: 540px 1fr;
  }
}
@media (min-width: 1512px) {
  .page_main .page__body {
    grid-template-columns: 580px 1fr;
  }
}
.page_main .page__message {
  grid-area: page__message;
}
.page_main .page__button-group {
  grid-area: page__button-group;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
@media (max-width: 640px) {
  .page_main .page__button-group {
    flex-direction: column;
  }
}
@media (min-width: 641px) {
  .page_main .page__button-group {
    flex-direction: column;
  }
}
@media (min-width: 1008px) {
  .page_main .page__button-group {
    flex-direction: row;
  }
}
.page_main .page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_main .page__switchers-group {
  height: 20px;
  width: 74px;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .page_main .page__switchers-group {
    display: none;
  }
}
@media (min-width: 641px) {
  .page_main .page__switchers-group {
    display: none;
  }
}
@media (min-width: 1008px) {
  .page_main .page__switchers-group {
    display: flex;
  }
}
.page_main .page__switcher {
  height: 14px;
  width: 14px;
  background: #868686;
  border-radius: calc(14px / 2);
}
.page_main .page__switcher:hover {
  cursor: pointer;
}
.page_main .page__switcher_active_true {
  background: #F3F3F3;
}
.page_main.page_shown_true {
  display: grid;
}
.page_main.page_shown_false {
  display: none;
}
.page_welcome .page__body {
  display: grid;
  position: relative;
}
@media (max-width: 640px) {
  .page_welcome .page__body {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-gap: 40px;
    grid-template-areas: 'welcome-page__photo' 'welcome-page__message' 'welcome-page__button';
  }
}
@media (min-width: 641px) {
  .page_welcome .page__body {
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content 60px 60px;
    grid-gap: 40px 4%;
    grid-template-areas: 'welcome-page__message welcome-page__photo' 'welcome-page__message welcome-page__photo' '. welcome-page__button';
  }
}
@media (min-width: 1008px) {
  .page_welcome .page__body {
    grid-template-columns: 420px 1fr max-content;
    grid-template-rows: max-content 60px max-content;
    grid-gap: 0;
    grid-template-areas: 'welcome-page__message . welcome-page__photo' '. . .' '. . welcome-page__button';
  }
}
.page_welcome .page__message {
  grid-area: welcome-page__message;
}
@media (max-width: 640px) {
  .page_welcome .page__message div {
    margin: 0 0 18px 0;
  }
}
@media (min-width: 641px) {
  .page_welcome .page__message div {
    margin: 0 0 28px 0;
  }
}
.page_welcome .page__message div:last-of-type {
  margin: 0;
}
.page_welcome .page__photo {
  grid-area: welcome-page__photo;
}
.page_welcome .page__photo img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .page_welcome .page__photo img {
    height: auto;
    width: 100%;
  }
}
@media (min-width: 641px) {
  .page_welcome .page__photo img {
    height: 370px;
    width: 410px;
  }
}
@media (min-width: 1008px) {
  .page_welcome .page__photo img {
    height: 410px;
    width: 470px;
  }
}
@media (min-width: 1512px) {
  .page_welcome .page__photo img {
    height: 420px;
    width: 480px;
  }
}
.page_welcome .page__button {
  grid-area: welcome-page__button;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .page_courses .card__container {
    grid-template-rows: max-content 26px max-content 16px max-content 16px 50px minmax(36px, 1fr);
  }
}
@media (min-width: 641px) {
  .page_courses .card__container {
    grid-template-rows: max-content 26px max-content 16px max-content 16px 60px minmax(36px, 1fr);
  }
}
@media (min-width: 1008px) {
  .page_courses .card__container {
    grid-template-rows: max-content 20px max-content 13px max-content 18px 60px minmax(38px, 1fr);
  }
}
@media (min-width: 1512px) {
  .page_courses .card__container {
    min-height: 620px;
    grid-template-rows: max-content 20px max-content 13px max-content 1fr 60px minmax(40px, 1fr);
  }
}
.page_courses .card__description {
  line-height: 175%;
}
@media (max-width: 640px) {
  .page_teachers .card__container {
    grid-template-rows: max-content 20px max-content 13px max-content 0 0 minmax(38px, 1fr);
  }
}
@media (min-width: 641px) {
  .page_teachers .card__container {
    grid-template-rows: max-content 20px max-content 13px max-content 0 0 minmax(42px, 1fr);
  }
}
@media (min-width: 1008px) {
  .page_teachers .card__container {
    grid-template-rows: max-content 20px max-content 13px max-content 0 0 minmax(48px, 1fr);
  }
}
.page_teachers .card__photo {
  height: 320px;
}
.page_teachers .card__bottom {
  display: none;
}
